@{
    ViewBag.Title = "Ontology";
}

<div class="jumbotron">
    <h1>Ontology</h1>
    <p class="lead">Систематизация, возможность запросов</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Идея</h2>
        <p>
            Необходимым является структуризация материала. Причем, должна обеспечиваться возможность любых запросов.
        </p>
    </div>
    <div class="col-md-4">
        <h2>База знаний</h2>
        <p>Является наиболее подходящим для этого способом.</p>
    </div>
    <div class="col-md-4">
        <h2>Организация</h2>
        <p>Вся база представляет собой один файл *.n3, а это приложение извлечает из него информацию в нужной форме.</p>
    </div>
</div>