@{
    ViewBag.Title = "Ontology";
}

<div class="jumbotron">
    <h1>Ontology</h1>
    <p class="lead">Systematization, quering</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Idea</h2>
        <p>
            We decided to srtucturize and represent mathematic knowledge. We are giving quering abilities.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Knowledge base</h2>
        <p>This is the most approachable method we've found.</p>
    </div>
    <div class="col-md-4">
        <h2>Form</h2>
        <p>The knowledge base is given in form of one *.n3 file, this web-application extracts knowledge in form we need.</p>
    </div>
</div>